@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import "../../node_modules/modern-normalize/modern-normalize.css";

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.MuiFormHelperText-root.Mui-error {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
}

.password-error-text {
  color: #d32f2f;
  position: absolute;
  font-size: 12px;
  bottom: 15px;
  left: 10px;
}

.MuiInputBase-root {
  padding-right: 20px;
}

.MuiPopover-paper {
  background-color: #e8eaf6;
}

.css-16w8ql3-MuiPaper-root-MuiPopover-paper {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  width: 70%;
}

path,
circle {
  transition: all 0.3s;
}

@import "mediaQueries";
